.productos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.producto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}